@* Jonas *@
@page
@model _4UgersProjekt.Pages.Recipes.DeleteCustomerModel
@{
}
<h1>Delete Confirmation></h1>
<div class="alert alert-danger">
	<h5>Are you sure you want to delete Recipe - @Model.Customer.Name</h5>
	<form method="post">
		<button type="submit" class="btn btn-danger">Yes</button>
		<a class="btn btn-primary" asp-page="/Recipes/GetAllCustomers">No</a>
	</form>
</div>

