html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

a.navbar-brand {
    color: yellow;
}

.navbar {
    background-color: #0A0A0a;
}


.navbar-nav .nav-link {
    color: #aca7a7;
}

body {
    margin-bottom: 60px;
    background-color: #aca7a7;
}

.footer {
    background-color: #0A0A0a
}
